/* mobile settings */
/*
.section__btn {
  color: $color-text-black;
  background-color: $color-bg-white;
  margin-top: 60px;
  font-family: $main-font;
  font-style: normal;
  letter-spacing: 0.03em;
  text-align: center;
  border-radius: 4px;
  border: none;

  &-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 15px;
    margin-bottom: 50px;
  }
}

.section__btn-items {
  cursor: pointer;
  color: $color-text-black;
  background-color: $color-bg-almostWhite;
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
  font-weight: $font-weight-medium;
  font-size: 16px;
  line-height: 1.625;
  transition-duration: 250ms;
  transition-timing-function: $main-animation;
  width: 128px;

  &:hover,
  &:focus {
    background-color: $color-bg-blue;
    color: $color-text-white;
    box-shadow: $box-shadow-btn;
  }
}
*/

.section__btn {
  color: $color-text-black;
  background-color: $color-bg-white;
  left: 661px;
  top: 180px;
  font-family: $main-font;
  font-style: normal;
  letter-spacing: 0.03em;
  text-align: center;
  border-radius: 4px;
  border: none;

  &-box {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 50px;
    padding-top: 94px;
  }
}

.section__btn-items {
  cursor: pointer;
  color: $color-text-black;
  background-color: $color-bg-almostWhite;
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
  font-weight: $font-weight-medium;
  font-size: 16px;
  line-height: 1.625;
  transition-duration: 250ms;
  transition-timing-function: $main-animation;

  &:hover,
  &:focus {
    background-color: $color-bg-blue;
    color: $color-text-white;
    box-shadow: $box-shadow-btn;
  }
}
