/*mobile settings*/
.footer {
  color: $color-text-white;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;

  &__logo-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;

    @media screen and (min-width: 768px) {
      & {
        margin-left: 0;
        width: 50%;
      }
    }

    @media screen and (min-width: 1200px) {
      & {
        padding-top: 0;
        display: flex;
        justify-content: center;
        width: auto;
      }
    }
  }

  &__box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: baseline;
    text-align: center;
    justify-content: center;

    @media screen and (min-width: 768px) {
      & {
        flex-direction: row;
        column-gap: 30px;
      }
    }

    @media screen and (min-width: 1200px) {
      & {
        justify-content: space-between;
        align-items: baseline;
        flex-direction: row;
      }
    }
  }

  &__address {
    display: block;
    text-align: center;
    padding-top: 20px;
  }

  @media screen and (min-width: 1200px) {
    & {
      text-align: left;
    }
  }

  &__items:not(:last-child) {
    font-style: normal;
    margin-bottom: 9px;
  }
}
