/*mobile settings*/
.footer {
  color: $color-text-white;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;

  &__logo-box {
    display: block;
    margin-left: 100px;

    @media screen and (min-width: 768px) {
      & {
        margin-left: 0;
      }
    }
  }

  @media screen and (min-width: 1200px) {
    & {
      padding-top: 0;
    }
  }

  &__box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-right: 15px;
    align-items: baseline;
    text-align: center;
    justify-content: center;

    @media screen and (min-width: 768px) {
      & {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        column-gap: 30px;
      }
    }

    @media screen and (min-width: 1200px) {
      & {
        justify-content: space-between;
        align-items: baseline;
        text-align: left;
      }
    }
  }

  &__address {
    display: block;
    text-align: center;
    padding-top: 20px;
  }

  &__items:not(:last-child) {
    font-style: normal;
    margin-bottom: 9px;
  }
}

/*
.footer {
  color: $color-text-white;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;

  &__box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0px auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }

  &__address {
    display: block;
    padding-top: 20px;
  }

  &__items:not(:last-child) {
    font-style: normal;
    margin-bottom: 9px;
  }
}
*/
