body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: $color-text-gray;
}

@media screen and (min-width: 320px) {
  body {
    overflow-x: none;
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
}

figure {
  margin: 0 auto;
  padding: 0;
}

h1 {
  margin: 0 auto;
}

textarea {
  resize: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

/*
.section {
  padding: 94px 0;
}
*/

/*
.container {
  width: 1200px;
  margin: 0 auto;
}
*/

.container {
  width: 450px;
  margin: 0 15px 0 15px;
}

@media screen and (min-width: 768px) {
  .container {
    width: 738px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
