/* mobile settings */

.header {
  border-bottom: 1px solid $color-border-beige;

  &__box {
    display: flex;
    align-items: center;
    padding: 0;
  }
}

/*
.header {
  border-bottom: 1px solid $color-border-beige;

  &__box {
    display: flex;
    align-items: center;
    padding: 24px 0;
  }
}

*/
