/* mobile settings */

.header {
  border-bottom: 1px solid $color-border-beige;
  padding-top: 16px;
  padding-bottom: 16px;

  @media screen and (min-width: 768px) {
    & {
      padding-bottom: 20px;
    }
  }

  @media screen and (min-width: 1200px) {
    & {
      padding-bottom: 24px;
    }
  }

  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    padding-right: 23px;

    @media screen and (min-width: 768px) {
      & {
        padding-left: 15px;
      }
    }

    @media screen and (min-width: 1200px) {
      & {
        padding-left: 0;
        justify-content: flex-start;
        align-items: center;
      }
    }
  }
}

/*
.header {
  border-bottom: 1px solid $color-border-beige;

  &__box {
    display: flex;
    align-items: center;
    padding: 24px 0;
  }
}

*/
