/*mobile settings*/

.menu-toggle {
  border: none;
  fill: $color-text-black;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  top: 22px;
  right: 23px;

  &:focus,
  &:hover {
    fill: $color-text-blue;
  }
}

.is-open {
  transform: translateX(0);
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 302px;

  &__items {
    &:not(:last-child) {
      margin-bottom: 36px;
    }
  }

  &__link {
    display: block;
    color: $color-text-black;
    font-weight: $font-weight-medium;
    font-size: 40px;
    line-height: 0.98;
    letter-spacing: 0.02;
    text-decoration: none;

    &--current {
      display: block;
      color: $color-text-blue;
      font-weight: $font-weight-medium;
      font-size: 40px;
      text-decoration: none;
      line-height: 0.98;
      letter-spacing: 0.02;
    }

    &:hover {
      color: $color-text-blue;
    }
  }
}

.mobile-menu-container {
  margin-left: 40px;
  display: none;
}

.mobile-menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
}

.mobile-contact {
  display: flex;
  flex-direction: column;

  &__item:not(:last-child) {
    margin-bottom: 32px;
  }

  &__link {
    color: $color-text-gray;
    text-decoration: none;
    font-size: 24px;
    font-weight: $font-weight-medium;

    &--accent {
      color: $color-text-blue;
      text-decoration: none;
      font-size: 34px;
      font-weight: $font-weight-medium;
      line-height: 1.17;
    }
  }
}

.mobile-sm {
  display: flex;
  justify-content: start;
  position: relative;
  padding-top: 64px;
  margin-bottom: 48px;

  &__item {
    position: relative;

    &:not(:last-child) {
      margin-right: 20px;
    }

    &:not(:last-child)::before {
      display: block;
      position: absolute;
      content: "";
      background-color: $color-bg-mobile;
      top: 0;
      right: -10px;
      height: 100%;
      width: 1px;
    }
  }

  &__link {
    color: $color-text-blue;
    font-size: 18px;
    font-weight: $font-weight-medium;
    text-decoration: none;
  }
}
