/* mobile settings*/
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #00000033;
  transition: opacity 250ms ease, visibility 550ms ease;
  transition-duration: 1800ms;

  &__modal {
    position: absolute;
    width: 450px;
    height: 609px;
    left: 39%;
    top: 44%;
    transform: translate(-50%, -50%);
    background: $color-bg-white;
    box-shadow: $box-shadow-modal;
    border-radius: 4px;

    @media screen and (min-width: 1200px) {
      & {
        width: 528px;
        height: 581px;
        margin-top: 10.5%;
        margin-left: 18.5%;
      }
    }
  }

  &__button-close {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 8px;
    top: 8px;
    width: 30px;
    height: 30px;
    padding: 9px;
    border: 1px solid #0000001a;
    border-radius: 50%;
    background-color: $color-bg-white;
    transition-property: background-color, fill;
    transition-duration: 250ms;
    transition-timing-function: $main-animation;

    &:hover,
    &:focus {
      color: $color-text-blue;
      border-color: $color-text-blue;
    }
  }
}

.header-form {
  text-align: center;
  font-weight: $font-weight-bold;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: $color-text-black;
  margin: 0px 40px 0 40px;
  padding-top: 40px;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
  row-gap: 10px;
  margin-top: 12px;
  width: 100%;

  &__form-link {
    color: $color-text-blue;
    font-weight: 400;
    transition: font-weight 250ms $main-animation, color 250ms $main-animation;
  }

  &__declaration {
    margin-top: 10px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.03em;

    @media screen and (min-width: 1200px) {
      & {
        font-size: 14px;
      }
    }
  }

  &__comment {
    position: relative;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    height: 120px;
    margin-bottom: 20px;
    transition: border 250ms $main-animation;
  }

  &__btn {
    width: 200px;
    height: 50px;
    background: $color-bg-blue;
    border-radius: 4px;
    border: none;
    color: $color-text-white;
    font-weight: $font-weight-bold;
    font-size: 16px;
    letter-spacing: 0.06em;
    margin-top: 30px;
    box-shadow: 0px 4px 4px #00000026;
    padding: 10px 0;
    transition: background-color 1000ms $main-animation;
  }
}

.modal__label {
  position: relative;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  width: 100%;
  transition: border 250ms $main-animation;

  &:focus-within svg {
    fill: $color-text-blue;
  }
}

.modal__input {
  border: 1px solid #21212133;
  border-radius: 4px;
  padding-left: 42px;
  height: 40px;
  outline: none;
  transition: border 250ms $main-animation;
  width: 100%;

  &:focus-within {
    border-color: $color-text-blue;
  }
}

.modal__icon {
  position: absolute;
  left: 15px;
  top: 50%;
  width: 18px;
  height: 18px;
  fill: $color-text-black;
}

.modal__text {
  width: 370px;
  height: 120px;
  text-align: left;
  padding: 12px 16px;

  @media screen and (min-width: 1200px) {
    & {
      width: 448px;
    }
  }
}

.modal__checkbox {
  opacity: 0;
  height: 0;
  width: 0;

  &:checked + .modal__check-icon {
    fill: $color-text-white;
    background-color: $color-bg-blue;
    border: $color-bg-blue;
    border-radius: 2px;
    transition-duration: 250ms;
    transition-timing-function: $main-animation;
  }
}

.modal__check-icon {
  width: 16px;
  height: 15px;
  margin-right: 2px 7px 2px 0;
  border: 2px solid $color-text-black;
  border-radius: 2px;
  fill: $color-text-white;
  background-color: $color-bg-white;
  cursor: pointer;
}

/*
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #00000033;
  transition: opacity 250ms ease, visibility 550ms ease;
  transition-duration: 1800ms;

  &__modal {
    position: absolute;
    width: 528px;
    height: 581px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: $color-bg-white;
    box-shadow: $box-shadow-modal;
    border-radius: 4px;
  }

  &__button-close {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 8px;
    top: 8px;
    width: 30px;
    height: 30px;
    padding: 9px;
    border: 1px solid #0000001a;
    border-radius: 50%;
    background-color: $color-bg-white;
    transition-property: background-color, fill;
    transition-duration: 250ms;
    transition-timing-function: $main-animation;

    &:hover {
      color: $color-text-blue;
      border-color: $color-text-blue;
    }
  }
}

.header-form {
  text-align: center;
  font-weight: $font-weight-bold;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: $color-text-black;
  margin: 0px 40px 0 40px;
  padding-top: 40px;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
  row-gap: 10px;
  margin-top: 12px;
  width: 100%;

  &__form-link {
    color: $color-text-blue;
    font-weight: 400;
    transition: font-weight 250ms $main-animation, color 250ms $main-animation;
  }

  &__declaration {
    margin-top: 10px;
  }

  &__comment {
    position: relative;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    width: 448px;
    height: 120px;
    margin-bottom: 20px;
    transition: border 250ms $main-animation;
  }

  &__btn {
    width: 200px;
    height: 50px;
    background: $color-bg-blue;
    border-radius: 4px;
    border: none;
    color: $color-text-white;
    font-weight: $font-weight-bold;
    font-size: 16px;
    letter-spacing: 0.06em;
    margin-top: 30px;
    box-shadow: 0px 4px 4px #00000026;
    padding: 10px 0;
    transition: background-color 1000ms $main-animation;
  }
}

.modal__label {
  position: relative;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  width: 100%;
  transition: border 250ms $main-animation;

  &:focus-within svg {
    fill: $color-text-blue;
  }
}

.modal__input {
  border: 1px solid #21212133;
  border-radius: 4px;
  padding-left: 42px;
  height: 40px;
  outline: none;
  transition: border 250ms $main-animation;
  width: 100%;

  &:focus-within {
    border-color: $color-text-blue;
  }
}

.modal__icon {
  position: absolute;
  left: 15px;
  top: 50%;
  width: 18px;
  height: 18px;
  fill: $color-text-black;
}

.modal__text {
  width: 448px;
  height: 120px;
  text-align: left;
  padding: 12px 16px;
}

.modal__checkbox {
  opacity: 0;
  height: 0;
  width: 0;

  &:checked + .modal__check-icon {
    fill: $color-text-white;
    background-color: $color-bg-blue;
    border: $color-bg-blue;
    border-radius: 2px;
    transition-duration: 250ms;
    transition-timing-function: $main-animation;
  }
}

.modal__check-icon {
  width: 16px;
  height: 15px;
  margin-right: 2px 7px 2px 0;
  border: 2px solid $color-text-black;
  border-radius: 2px;
  fill: $color-text-white;
  background-color: $color-bg-white;
  cursor: pointer;
}
*/
