/* mobile settings*/

.overlay {
  min-width: 480px;
  max-width: 1600px;
  height: 400px;
  background-image: linear-gradient($bg-gradient),
    url("../images/imgbackground-mobile.jpg");
  background-color: $color-bg-darkGray;
  background-repeat: no-repeat;
  background-size: cover;

  @media screen and (min-width: 768px) {
    & {
      background-image: linear-gradient($bg-gradient),
        url("../images/imgbackground-tablet.jpg");
    }
  }

  @media screen and (min-width: 1200px) {
    & {
      background-image: linear-gradient($bg-gradient),
        url("../images/imgbackground.jpg");
    }
  }

  &__box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 118px;
  }

  &__title {
    color: $color-text-white;
    text-transform: uppercase;
    text-align: center;
    justify-content: center;
    width: 365px;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    letter-spacing: 0.06em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }

  &__btn {
    color: $color-text-white;
    background-color: $color-bg-blue;
    align-items: center;
    text-align: center;
    font-family: $main-font, sans-serif;
    font-style: normal;
    font-weight: $font-weight-bold;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    width: 200px;
    height: 50px;
    border-style: hidden;
    border-radius: 4px;
    box-shadow: $box-shadow-overlay;
    padding: 10px 32px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
  }
}

/*
.overlay {
  max-width: 1600px;
  background-image: linear-gradient($bg-gradient),
    url("../images/imgbackground.jpg");
  background-color: $color-bg-darkGray;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 200px 0;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

  &__box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0px auto;
  }

  &__title {
    color: $color-text-white;
    text-transform: uppercase;
    text-align: center;
    justify-content: center;
    width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.37;
    letter-spacing: 0.06em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }

  &__btn {
    color: $color-text-white;
    background-color: $color-bg-blue;
    align-items: center;
    text-align: center;
    font-family: $main-font, sans-serif;
    font-style: normal;
    font-weight: $font-weight-bold;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    width: 200px;
    height: 50px;
    border-style: hidden;
    border-radius: 4px;
    box-shadow: $box-shadow-overlay;
    padding: 10px 32px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
  }
}

*/
