$color-text-gray: #757575;
$color-text-blue: #2196f3;
$color-text-black: #212121;
$color-text-white: #ffffff;
$color-text-lightGray: #ffffff99;
$color-bg-darkGray: #2f303a;
$color-bg-almostWhite: #f5f4fa;
$color-bg-dirtyWhite: #e5e5e5;
$color-bg-blue: #2196f3;
$color-bg-white: #ffffff;
$color-border-beige: #ececec;
$color-border-pigeon: #eeeeee;
$color-border-dirtyPigeon: #afb1b8;
$color-bg-mobile: #21212133;

$main-font: "Roboto";
$second-font: "Raleway";

$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-regular: 400;

$box-shadow-btn: 0px 3px 1px #0000001a, 0px 1px 2px #00000014,
  0px 2px 2px #0000001f;
$box-shadow-cards: 0px 1px 1px #0000001f, 0px 4px 4px #0000000f,
  1px 4px 6px #00000029;
$box-shadow-form: 0px 4px 4px #00000026;
$box-shadow-modal: 0px 1px 3px #0000001f, 0px 1px 1px #00000024,
  0px 2px 1px #00000033;
$box-shadow-overlay: 0px 4px 4px #00000026;

$bg-gradient: #0000004d, #0000004d;

$main-animation: cubic-bezier(0.4, 0, 0.2, 1);
